body {
  text-align: center;
  background-color: #a8e063;

}
body ul {
  width: 20%;
  margin: auto;
}
.field {
  justify-content: center;
  background: rgba(0,0,0,.8);
  color: white;
  padding: 40px;
  width: 100%;
  border-radius: 5px;
}
.field .inputfield input{
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px;
  font-size: 24px;
}
.field input[type ="button"] {
  color: white;
  background: transparent;
  padding: 8px 16px;
  background: green;
  border-radius: 5px;
  float: left;
  margin-left: 390px;

}
